{% extends 'layout.html' %}

{% block content %}
    <h1>HouseHelp Hub</h1>
    <p>Welcome to HouseHelp Hub, the best place to find a house help.</p>
    <p>Our house helps are well trained and experienced.</p>
    <p>They are also very reliable and trustworthy.</p>
    <p>They will take care of your home and family as if they were their own.</p>
    <p>So why wait? Find a house help today!</p>
{% endblock %}

{% block script %}
    <script>
        alert('Welcome to HouseHelp Hub!');
    </script> 
{% endblock %}