{% extends 'layout.html' %}

{% block title %}
Profile page
{% endblock %}

{% block content %}
 <h1 class="display-1"> 
    Hello
    <span class="text-muted">@{{user.name}}</span>
 </h1>

     <div class="profile-pic">
        <img src="https://api.dicebear.com/9.x/lorelei/svg?seed={{user.username}}"  width="100" alt="profile picture">
     </div>

  <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>

   <!-- form to chnage the password and username-->
    <form action="" method="post">
        <div class="form-group">
            <label for="email" class="for-label">Username</label>
            <input type="email" 
            name="email" 
            id="email" 
            value="{{user.username}}"
            class="form-control" 
            required>
        </div>
        <div class="form-group">
            <label for="currentpassword" class="for-label">Current Password</label>
            <input type="password" name="currentpassword" id="currentpassword" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="newpassword" class="form-label">New Password</label>
            <input type="password" name="newpassword" id="newpassword" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" name="name" id="name" value="{{user.name}}" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
    



{% endblock %}



